
      <div class="row header">
        
        <div class="col-sm-2">
          <img class="middleAlign" src="assets/hcscLogo.jpg">
        </div>
        <div class="col-sm-8 text-align headerPadding">
          <span class="fontLarge">HCSC Accums</span>
        </div>
        <div class="col-sm-2 float-left headerPadding">
          <span class="float-right"> <img class="imgClass"  src="assets/user.png" > </span>
          <span class="float-right margin-right-8">John Doe</span>  
          <span class="float-right margin-right-8">Benefit Coder</span>  
        </div>
    </div>