.header{
    background-color: #404040;
    color: white;
    padding-bottom: 5px;
    padding-top : 5px;
}
.fontLarge {
    font-size : 18px;
}
.headerPadding{
    padding-top: 5px;;
}
.text-align{
    text-align: center;
}
.float-right{
    float: right;
}
.margin-right-8{
    margin-right: 8px;
}
.user-img{
    width:21px;
    height: 21px;
}
.imgClass {
    margin-top: 4px;
    height: 32px;
    width: 30px;
}
.middleAlign {
    margin-top : 9px;
}